---

---
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/11_shimada/images/logo.svg" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Observe mg</title>
<link rel="stylesheet" href="/11_shimada/style/style.min.css">
</head>